<div class="flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-700">Cadastro</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <!-- Email -->
      <div class="mb-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="fullname"
            type="fullname"
            class="w-full border border-gray-300 rounded-md p-2"
            name="fullname"
            formControlName="fullname"
            required
          />
          <label for="email">Nome completo</label>
        </p-floatlabel>

        <span
          *ngIf="
            hasError('fullname', 'required') &&
            registerForm.controls['fullname'].touched
          "
          class="text-red-600 text-sm"
        >
          Nome é obrigatório.
        </span>
        <span
          *ngIf="
            hasError('fullname', 'minlength') &&
            registerForm.controls['fullname'].touched
          "
          class="text-red-600 text-sm"
        >
          Nome ter no mínimo 3 caracteres.
        </span>
      </div>
      <div class="mb-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            type="email"
            class="w-full border border-gray-300 rounded-md p-2"
            name="email"
            formControlName="email"
            required
          />
          <label for="email">E-mail</label>
        </p-floatlabel>

        <span
          *ngIf="
            hasError('email', 'required') &&
            registerForm.controls['email'].touched
          "
          class="text-red-600 text-sm"
        >
          O email é obrigatório.
        </span>
        <span
          *ngIf="
            hasError('email', 'email') && registerForm.controls['email'].touched
          "
          class="text-red-600 text-sm"
        >
          Insira um email válido.
        </span>
      </div>

      <!-- Senha -->
      <div class="mb-4">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="senha"
            type="password"
            name="password"
            formControlName="password"
            class="w-full border border-gray-300 rounded-md p-2"
            pTooltip="A senha deve conter letra maiúscula, letra minúscula, número e caractere especial."
            tooltipPosition="top"
            required
          />
          <label for="password">Senha</label>
        </p-floatlabel>

        <span
          *ngIf="
            hasError('password', 'required') &&
            registerForm.controls['password'].touched
          "
          class="text-red-600 text-sm"
        >
          A senha é obrigatória.
        </span>
        <span
          *ngIf="
            hasError('password', 'minlength') &&
            registerForm.controls['password'].touched
          "
          class="text-red-600 text-sm"
        >
          A senha deve ter no mínimo 8 caracteres.
        </span>
        <span
          *ngIf="
            hasError('password', 'passwordStrength') &&
            registerForm.controls['password'].touched
          "
          class="text-red-600 text-sm"
        >
          A senha deve conter letra maiúscula, letra minúscula, número e
          caractere especial.
        </span>
      </div>

      <div class="mb-6">
        <p-floatlabel variant="on">
          <input
            pInputText
            id="confirmPassword"
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
            class="w-full border border-gray-300 rounded-md p-2"
          />
          <label for="confirmPassword">Confirmar senha</label>
        </p-floatlabel>
      </div>

      <!-- Botão -->
      <p-button
        type="submit"
        label="Cadastrar"
        severity="success"
        styleClass="w-full p-button-rounded p-button-primary"
        [disabled]="!registerForm.valid"
      ></p-button>

      <div *ngIf="errorMessage" class="text-red-600 mt-4 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
