<p-card class="max-w-3xl mx-auto shadow-lg cursor-pointer">
  <ng-template pTemplate="header">
    <img
      *ngIf="!!post.bannerUrl"
      [src]="post.bannerUrl"
      alt="Blog Post Image"
      class="w-full h-64 object-cover rounded-t-lg"
    />
  </ng-template>

  <div class="p-4">
    <div class="flex justify-between">
      <h2 class="text-2xl font-bold mb-2">{{ post.title }}</h2>
      <p-button
        [text]="true"
        [rounded]="true"
        icon="pi pi-pencil"
        severity="secondary"
        [routerLink]="editLink()"
        *ngIf="isEditable"
      ></p-button>
    </div>
    <div class="flex flex-wrap items-center text-sm text-gray-500 mb-4">
      <span class="mr-4 flex items-center">
        <i class="pi pi-user mr-2"></i> {{ post.fullName }}
      </span>
      <span class="flex items-center">
        <i class="pi pi-calendar mr-2"></i> {{ formatDate() }}
      </span>
    </div>
    <p class="text-gray-500 leading-relaxed truncate">
      {{ post.content }}
    </p>
  </div>
</p-card>
