<!-- Container Principal -->
<div class="min-h-screen flex flex-col bg-gray-100">
  <p-menubar [model]="menuItems">
    <ng-template #start>
      <span class="text-2xl font-bold mr-20">CMS</span>
    </ng-template>
    <ng-template *ngIf="isLogged()" #end>
      <p-button
        type="button"
        label="Logout"
        icon="pi pi-sign-out"
        severity="danger"
        (click)="onLogout()"
      ></p-button>
    </ng-template>
  </p-menubar>

  
  <div class="md:px-20 py-6 flex flex-col h-full grow">
    <main class="flex-grow">
      <ng-content></ng-content>
    </main>
  </div>
</div>
