<div
  class="flex flex-col container flex-grow mx-auto p-6 bg-white shadow-lg rounded-md gap-10"
>
  <app-post-card
    *ngFor="let post of postList"
    [post]="post"
    imageUrl="https://via.placeholder.com/600x400"
    (click)="postRedirect(post.id)"
  ></app-post-card>
  <div *ngIf="postList.length === 0" class="text-gray-500">
    Nenhuma postagem ainda. Seja o primeiro a
    <a
      class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
      routerLink="/post"
      >postar</a
    >!
  </div>
</div>
