<p-card class="max-w-3xl mx-auto shadow-lg">
  <ng-template pTemplate="header">
    <img
      [src]="imageUrl"
      alt="Blog Post Image"
      class="w-full h-64 object-cover rounded-t-lg"
    />
  </ng-template>

  <div class="p-4">
    <h2 class="text-2xl font-bold mb-2">{{ post.title }}</h2>
    <div class="flex items-center text-sm text-gray-500 mb-4">
      <span class="mr-4 flex items-center">
        <i class="pi pi-user mr-2"></i> {{ post.fullName }}
      </span>
      <span class="flex items-center">
        <i class="pi pi-calendar mr-2"></i> {{ formattedDate() }}
      </span>
    </div>
    <p class="text-gray-500 leading-relaxed truncate">
      {{ post.content }}
    </p>
  </div>
</p-card>
